/* 
    Author     : AL
    date       : 20161026
*/

/* cover */
#cover, #cover2{position:fixed; left:0px; top:0px; display:block; width:100%; height:100%; background:rgba(0,0,0,.5); z-index:998;}/*AL 20161027*/

.top, .top ul, .top li, .top li a{ display:block;}
.top{ height:35px; margin:0 auto;}
.top>ul:first-child{ float:left;}
.top>ul:last-child{ float:right;}
.top>ul>li{ float:left; position:relative;}
.top>ul>li>a{ color:#333; font-size:13px; text-decoration:none; padding:0 15px; border-left:#999 solid 1px; height:15px; margin:5px 0;}
.top>ul>li>a:hover, .top>ul>li>a.active{ color:#87cdcb;}
.top>ul>li:first-child a{ border:none;}
.top>ul:last-child>li:first-child>a{ /*color:#0de1eb; AL 0106*/ height:25px; padding:0 10px; margin:0 10px; line-height:25px; border-radius:3px;}

.wrapper .column .user{ font-size:15px; line-height:16px;padding-top:1px; color:rgb(60,86,109); background:url(../../template/images/icon-user.png) no-repeat 0 50%; padding-left:30px;}

.wrapper .column .user > a:hover{color:#ff8d8d;}
.wrapper .column .user > a:after{content:"Register | Login";}
.wrapper .column .user.active > a{background-position:1px 0px;}
.wrapper .column .user.active > a:after{content:"";}

/*浮動登入*/
#header .top #login-block, #header .top>ul>li>ul{ display:none; position:absolute; z-index:99;}
#header .top>ul>li>ul{ width:100%; top:0; opacity:0; position:relative;}
#header .top>ul>li>ul li a{ display:block; padding:10px; text-align:center; color:#fff; text-decoration:none; font-size:13px;}
#header .top>ul>li>ul li a:hover{ color:#666;}
#header .top #login-block{ position:absolute; top:40px;}
#header .top #login-block .arrow{width:100%; height:10px; position: absolute; background:url(../../template/images/top_arrow.png) 15% 0 no-repeat;margin-top: -20px; top: 10px; left:0px;}
#login-block {background:#2F8DCD; padding:10px;width:300px;border: 1px solid #fff; }/*AL 20161116*/
#header .top #login-block li {
    padding: 5px 0 5px 87px;/*AL 20161116*/
    position: relative;
}
#header .top #login-block li span {
    color: #fff;
    font-size: 15px;
    left: 0;
    position: absolute;
    top: 8px;
}
#header .top #login-block li input[type="text"], #header .top #login-block li input[type="email"], #header .top #login-block li input[type="password"] {
    background: rgba(255, 255, 255, 0.7) none repeat scroll 0 0;
    border: 1px solid #fff;
    box-sizing: border-box;
    display: block;
    padding: 5px;
    width: 100%;
}
#header .top #login-block li.captcha.verify input {
    background: rgba(255, 255, 255, 0.7) none repeat scroll 0 0;
    border: 1px solid #fff;
    box-sizing: border-box;
    display: block;
    padding: 5px;
    width: 65px;
}
#header .top #login-block li.verify img {
    left: 132px;
    position: absolute;
    top: 5px;
    width: 75px;
    height: 26px;
}
#header .top #login-block li.check {
    color: #fff;
    font-size: 15px;
    overflow: hidden;
    padding: 10px 0;
}
#header .top #login-block p {
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
}
/*
#header .top #login-block span{ display:block; width:230px; background:#87cdcb; padding:10px;}
#header .top #login-block form{ margin-bottom:20px;}
#header .top #login-block input.txt{ width:135px; background:rgba(255, 255, 255, .7); border:#fff solid 1px; padding:5px; margin:10px 0 5px;}
#header .top #login-block input.button, #header .top #login-block input.button-g{ float:right; background:#ff8d8d; border:none; padding:5px 15px; font-size:12px; color:#fff; border-top:solid 1px rgba(255, 255, 255, .5); box-shadow:0 1px 0 rgba(0, 0, 0, .2); cursor: pointer;}
#header .top #login-block input.button, #header .top #login-block input.button-g:hover{ background:#f4ba7d;}
#header .top #login-block b{ display:block; color:#fff; font-size:15px; font-weight:normal; margin:5px 0;}
#header .top #login-block h6{ clear:both; display:block; line-height:30px; font-size:15px; color:#fff; border-top:#fff solid 1px;}
#header .top #login-block img{ display:inline-block; margin:5px 8px 5px 0;}*/
#header .top #login-block p a{ display:inline-block; color:#fff; font-size:15px; text-decoration:none; padding:0 20px; line-height:20px; border-left:#fff solid 1px;}
#header .top #login-block p a:hover{ text-decoration:underline;}
#header .top #login-block p a:first-child{ border:none;}
#header .top #login-block span{ font-size:13px; color:#fff;}

#header .top #logout-block{width:100px; background:#2f8dcd /*AL 20160607*/; padding:10px; position:absolute; right:0px; top:40px; z-index:2; display:none;}
#header .top #logout-block a{display:block; width:100%; height:30px; font-size:15px; color:#FFF; line-height:30px; text-decoration:none; text-align:center; cursor:pointer;}
#header .top #logout-block a:hover{text-decoration:underline;}
#header .top #login-block form .refresh {
    background: rgba(0, 0, 0, 0) url("../../template/images/refresh.png") repeat scroll 0 0;
    cursor: pointer;
    display: block;
    height: 16px;
    left: 214px;
    position: absolute;
    text-indent: -9999px;
    top: 10px;
    width: 15px;
}

@media screen and (max-width:768px){
.top , #header dl.nav dt h2{display:none;}
}

/*主選單*/
.menu{clear:both; position:relative; }
.menu>ul{ list-style:none; text-align:center; max-width:1170px; height:40px; margin:0 auto; position:relative; z-index:1;}
.menu>ul>li{ display:inline-block; position:relative; width:7%;}
.menu>ul>li>a{ display:block; height:40px; font-size:15px; font-weight:bold; text-align:center; line-height:40px; text-decoration:none; color:#666; transition:all .3s; cursor:pointer;}
.menu>ul>li>a:hover, .menu>ul>li>a.active{ color:#000;}
.menu>ul>li:last-child>ul{ left:-158%;}
.menu>ul>li:last-child>ul:before{ left:100px;}
.menu>ul>li>ul{ list-style:none; display:none; position:absolute; left:-100%; top:45px; opacity:0; background:#87cdcb; width:300%; margin-top:0; padding:5px 0; z-index:-1; text-align:left;}
.menu>ul>li>ul:before{content:""; width:0; height:0; border-style:solid; border-width:8px; border-color:transparent transparent #87cdcb transparent; position:absolute; top:-16px; left:0; right:0; margin:auto;}
.menu>ul>li>ul li{ display:inline-block; width:49.7%; height:31px; line-height:31px; overflow:hidden; text-align:left; float:left; margin-bottom:1px;}
.menu>ul>li>ul li:nth-child(odd){ border-right:1px dotted #fff;}
.menu>ul>li>ul li a{ display:block; padding:0 10px; color:#fff; text-decoration:none; font-size:13px;}
.menu>ul>li>ul li a:hover{ background:#ff8d8d; color:#fff;}

/* menu-clone */
#menu-clone{position:fixed; top:0; left:0; width:100%; height:40px; background:url(../../images/white.png); border-bottom:5px solid #87cdcb; z-index:9;}
#menu-clone .logo{display:none; background:url(../../template/images/logo.png); width:150px; height:50px; background-size:100%; margin:0 auto; text-indent:-9999px;}
#menu-clone > ul{width:1024px; height:40px; margin:0 auto;}
#menu-clone > ul > li{float:left; width:78px; padding:10px 0; box-sizing:border-box; position:relative; transition:all .3s;}
#menu-clone > ul > li:hover , 
#menu-clone > ul > li:active{background:url(../../template/images/black.png); border-top:5px solid#87cdcb;}
#menu-clone > ul > li:hover a , 
#menu-clone > ul > li:active a{color:#FFF;}
#menu-clone > ul > li > a{display:block; width:100%; height:20px; color:#000; text-align:center; text-decoration:none; border-left:1px solid rgba(0, 0, 0, .1);
border-right:1px solid rgba(255, 255, 255, .8); box-sizing:border-box; cursor:pointer;}
#menu-clone > ul > li > ul{display:none; position:absolute; left:-30%; top:40px; width:160%; background:#87cdcb; text-align:left; z-index:1}
#menu-clone > ul > li > ul li{width:100%; height:31px; line-height:31px; text-align:center; border-bottom:1px dotted #FFF;}
#menu-clone > ul > li > ul li a{display:block; width:100%; height:100%; color:#fff; text-decoration:none; font-size:13px;}
#menu-clone > ul > li > ul li a:hover{ background:#ff8d8d; color:#fff;}

/* mobile L */
#mobi-lbtn{display:none; width:35px; height:35px; border:1px solid #2F8ECE; position:absolute; left:10px; top:20px; background:url(../../images/menu.png) center no-repeat #FFF; border-radius:10px; cursor:pointer;}
#mobi-menu{position:absolute; top:0px; left:-200px; display:block; width:200px; height:100%; z-index:10003; background:#2F8ECE}
#mobi-menu > ul > li > a{display:block; width:100%; height:40px; font-size:18px; color:#FFF; line-height:40px; text-decoration:none; text-align:center; background:#2F8ECE; border-bottom:1px solid rgba(0, 168, 225,0.8);}
#mobi-menu > ul > li > ul{display:none;}
#mobi-menu > ul > li > ul li a{display:block; width:100%; height:40px; font-size:15px; color:#666; line-height:40px; text-decoration:none; background:#FFF; text-align:center; border-bottom:1px dotted #e1e1e1;}
#mobi-menu > ul > li > ul li a:hover,#mobi-menu > ul > li > ul li.now a{background:#f1f1f1;}/*AL 20161027*/

/* mobile R */
#mobi-rbtn{display:none; width:35px; height:35px; border:1px solid #2F8ECE; position:absolute; right:10px; top:20px; background:url(../../images/menu_2.png) center no-repeat #FFF; border-radius:10px; cursor:pointer;}
#mobi-member{position:absolute; top:0px; right:-200px; display:block; width:200px; height:100%; z-index:10003; background:#2f8ece;}

#mobi-member #login-block{width:190px; margin:20px auto;border: 0;}/*AL 20161027*/
#mobi-member #login-block .arrow{display:none;}
#mobi-member #login-block form{ margin-bottom:20px;}
#mobi-member #login-block input.txt{ width:129px; background:rgba(255, 255, 255, .7); border:#fff solid 1px; padding:5px; margin-bottom:5px;}
#mobi-member #login-block input.button{ float:right; background:#ff8d8d; border:none; padding:5px 15px; font-size:12px; color:#fff; border-top:solid 1px rgba(255, 255, 255, .5); box-shadow:0 1px 0 rgba(0, 0, 0, .2); cursor: pointer;margin: 10px 19px 0 0;}/*AL 20161027*/
#mobi-member #login-block input.button.button-g{ background:#ff8d8d;margin: 35px auto;}/*AL 20161027*/
#mobi-member #login-block input.button:hover{ background:#f4ba7d;}
#mobi-member #login-block b{ display:block; color:#fff; font-size:15px; font-weight:normal; margin:5px 0;}
#mobi-member #login-block h6{line-height:30px; font-size:15px; color:#fff; border-top:#fff solid 1px; text-align:center;}
#mobi-member #login-block img{max-width:100%; height:auto; display:block; margin:5px auto;}
#mobi-member #login-block p{overflow:hidden; padding:5px 0;display: none;}/*AL 20161027*/
#mobi-member #login-block p a{display:block; float:left; width:50%; text-align:center; color:#fff; font-size:15px; text-decoration:none;3 line-height:20px; border-left:#fff solid 1px; box-sizing:border-box;}
#mobi-member #login-block p a:hover{ text-decoration:underline;}
#mobi-member #login-block p a:first-child{ border:none;}
#mobi-member #login-block span{ font-size:13px; color:#fff;}

#mobi-member #logout-block{width:100%; margin:20px auto 0 auto; display:none;}
#mobi-member #logout-block a{display:block; width:100%; height:40px; font-size:18px; color:#FFF; line-height:40px; text-decoration:none; text-align:center; background:#2f8ece; border-bottom:1px solid rgba(255, 255, 255, .5): cursor:pointer;}
#mobi-member #logout-block a:hover{background:#FFF; color:#87cdcb;}
#mobi-member > ul > li > a{display:block; width:100%; height:40px; font-size:18px; color:#FFF; line-height:40px; text-decoration:none; text-align:center; background:#2f8ece; border-bottom:1px solid rgba(255, 255, 255, .5)}
#mobi-member > ul > li > a:hover{background:#FFF; color:#87cdcb;}

#mobi-member #btn3 a{display:block; width:100%; height:40px; font-size:18px; color:#FFF; line-height:40px; text-decoration:none; text-align:center; background:#87cdcb; border-bottom:1px solid #63b2b0}
#mobi-member #btn3 a:hover{background:#FFF; color:#87cdcb;}

/* RWD  AL 20161027*/
@media screen and (max-width:1024px){
#menu-clone{height:80px;}
#menu-clone > ul{width:768px; height:80px;}
#menu-clone > ul > li{width:109px;}
#menu-clone > ul > li:hover , 
#menu-clone > ul > li:active{background:url(../images/black.png); border-top:none;}
.container{width:980px;}
}

@media screen and (max-width:680px){
#header dl.nav{padding:0;}
#header dl.nav dt{float:none; width:100%;}
#header dl.nav dt h1{float:none; margin:0 auto;}
#header dl.nav dt h1 a.logo{width:150px; height:50px; background-size:100%; margin:10px auto;}
#header dl.nav dd{display:none;}
.menu{display:none;}

#menu-clone{height:80px; padding-top:10px; box-sizing:border-box;}
#menu-clone .logo{display:block;}
#menu-clone > ul{display:none;}
#mobi-lbtn , #mobi-rbtn{display:block;}
#sidebar_setting {display: none;}/*AL 20161026*/
#menu-clone #mobi-lbtn{left:2%; top:15px;}
#menu-clone #mobi-rbtn{right:2%; top:15px;}
.wrapper h1 {width: 100%;text-align: center;}/*AL 20161026*/

.container{width:96%;}
.column{margin:0;}
}

@media screen and (max-width:700px){
#header dl.nav dt h2{float:left; width:100%;}
}
@media screen and (max-width:400px){
#header dl.nav dt h2 a{margin:10px 5px;}
}