@charset "utf-8";
/* CSS Document */

.container{ min-height:1000px;}

/* path */
.path{ margin:5px 0; color:#aaa; font-size:13px; line-height:30px;}
.path a{ color:#666; text-decoration:none; transition:all .3s;}
.path a:hover{ color:#999; border-bottom:1px solid #999;}

/* filter */
.filter{ margin:10px 0; font-size:13px; color:#333;}
.filter select{ height:30px; border:rgb(163,177,178) solid 2px; font-family:"微軟正黑體"; font-size:12px; color:rgb(102,102,102); transition:all 1s; margin-right:5px; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
.filter input{ height:28px; border:rgb(163,177,178) solid 2px; font-family:"微軟正黑體"; font-size:12px; color:rgb(102,102,102); transition:all 1s; margin:2px 3px; padding:0 5px; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; -webkit-appearance:none;}
.filter input.long{ width:220px;}
.filter .button{ padding:0 10px; background:#a3b1b2; color:#fff; cursor:pointer; -webkit-appearance:none; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
.filter .button:hover{ background:#2f8dcd; border:#2f8dcd solid 2px;}

/* list */
.list p{ margin:10px 0; font-size:13px; letter-spacing:1px;}

.btn-receive-help{ display:block; position:absolute; right:20px; top:20px; font-size:13px; height:24px; line-height:24px; text-decoration:none; padding:0 10px; transition:background 1s, border 1s; text-decoration:none; background:rgba(274,121,123,1); border:rgba(274,121,123,1) solid 3px; color:#fff; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; -webkit-appearance:none;}
.btn-receive-help:hover{ background:rgb(255,255,255); color:rgba(274,121,123,1);}

.btn-helped{ display:block; position:absolute; right:115px; top:20px; font-size:13px; height:24px; line-height:24px;color:#fff; text-decoration:none; padding:0 10px; border:rgba(255,223,123,1) solid 3px; background:rgba(255,223,123,1); transition:background 1s, border 1s; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; -webkit-appearance:none;}
.btn-helped:hover{ background:#fff; color:rgba(255,223,123,1);}

/* page number */
.page-number{ text-align:center; margin:20px 0;}
.page-number li{ display:inline-block; -webkit-appearance:none; border-radius:0;}
.page-number li a{ background:#f9f9f9; display:block; text-decoration:none; line-height:21px; border:rgb(163,177,178) solid 2px; font-family:"微軟正黑體"; font-size:13px; color:rgb(102,102,102); transition:all .5s; margin:2px; padding:0 7px; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
.page-number li a:hover{ color:#fff; background:#2f8dcd; border:#2f8dcd solid 2px;}
.page-number li a.on{ border:2px solid rgba(47,141,205,1); background:rgba(47,141,205,1); color:#fff;}

/* tab */
.tab-wrap{ width:100%; margin:2px 0 10px 0; overflow:hidden;}
ul.tabs { width:100%; height:40px; letter-spacing:1px;}
ul.tabs li { float:left; height:40px; font-size:15px; line-height:40px; overflow:hidden; position:relative; background:#a3b1b2;}
ul.tabs li a {display:block; padding:0 20px; color:#fff; text-decoration:none;}
ul.tabs li a:hover { background:#2f8dcd;}
ul.tabs li.active { background:#fff;border-bottom: 1px solid #fff;}
ul.tabs li.active a{ color:#2f8dcd;}
ul.tabs li.active a:hover { background:#fff;}
.tab_container { clear:left; width:100%; background:#fff; border-bottom:5px solid #2f8dcd;-webkit-border-radius: 5px;-webkit-border-top-left-radius: 0;-moz-border-radius: 5px;-moz-border-radius-topleft: 0;border-radius: 5px;border-top-left-radius: 0;}
.tab_container .tab_content{ padding:20px; font-size:13px; color:#666; font-weight:normal;}
.tab_container .tab_content h2{margin: 0 0 20px;}
.tab_container .tab_content p{ display:block; border-bottom:1px dotted #ccc; margin:0; line-height:40px; padding:2px 5px;}
.tab_container .tab_content p:nth-child(odd){ background:rgba(163,177,178,.1);}
.tab_container .tab_content b{ color:#000; font-weight:normal;}
.tab_container .tab_content nav .zoom{ display:inline-block; background:#a3b1b2 url(../images/icon-zoom.png) center no-repeat; color:#fff; border-radius:3px; font-family:"微軟正黑體"; font-size:13px; transition:all .5s; margin:5px 0; text-decoration:none; width:20px; height:20px; padding:5px;}
.tab_container .tab_content nav .zoom:hover{ color:#fff; background:#2f8dcd url(../images/icon-zoom.png) center no-repeat; box-shadow:1px 1px 01px #ccc;}
.tab_container .tab_content input{ min-height:30px; border:rgb(163,177,178) solid 2px; border-radius:3px; font-family:"微軟正黑體"; font-size:12px; color:rgb(102,102,102); transition:all 1s; margin:5px 3px; padding:0 5px;}
.tab_container .tab_content .filter input{ width:auto;}
.tab_container .tab_content .button{ width:auto !important; padding:0 10px; background:#a3b1b2; color:#fff; cursor:pointer;}
.tab_container .tab_content .button:hover{ background:#2f8dcd; border:#2f8dcd solid 2px;}
.tab_container .remittances-img{ display:inline-block; width:260px; border:1px solid #ccc; margin:5px 0;}
.tab_container .remittances-img-btn{ height:30px; border:rgb(163,177,178) solid 2px; border-radius:5px; font-family:"微軟正黑體"; font-size:12px; color:rgb(102,102,102); transition:all 1s; margin-right:5px; padding:0 5px;}
.tab_container dt, .tab_container dd{ width:49%; display:inline-block; vertical-align:top;}
.tab_container dt{ margin-right:10px;}

/* button */
.button{ border:rgb(163,177,178) solid 2px; font-family:"微軟正黑體"; font-size:12px; transition:all 1s; margin:2px 2px 2px 0; height:30px; padding:0 10px; background:#a3b1b2; color:#fff; cursor:pointer; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; -webkit-appearance:none;}
.button:hover{ background:#2f8dcd !important; border:#2f8dcd solid 2px; color:#fff !important;}

.button-red{ border:#ff797b solid 2px; font-family:"微軟正黑體"; font-size:12px; transition:all 1s; margin:2px 2px 2px 0; height:30px; padding:0 10px; background:#ff797b !important; color:#fff !important; cursor:pointer; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; -webkit-appearance:none;}
.button-red:hover{ background:#2f8dcd !important; border:#2f8dcd solid 2px; color:#fff !important;}

.button-green{ border:#a5da66 solid 2px; font-family:"微軟正黑體"; font-size:12px; transition:all 1s; margin:2px 2px 2px 0; height:30px; padding:0 10px; background:#a5da66 !important; color:#fff !important; cursor:pointer; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; -webkit-appearance:none;}
.button-green:hover{ background:#2f8dcd !important; border:#2f8dcd solid 2px; color:#fff !important;}

.button-yellow{ border:#ffdf7b solid 2px; font-family:"微軟正黑體"; font-size:12px; transition:all 1s; margin:2px 2px 2px 0; height:30px; padding:0 10px; background:#ffdf7b !important; color:#fff !important; cursor:pointer; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; -webkit-appearance:none;}
.button-yellow:hover{ background:#2f8dcd !important; border:#2f8dcd solid 2px; color:#fff !important;}

/* input */
.text{ width:80px; min-height:30px; height:30px; border:rgb(163,177,178) solid 2px; font-family:"微軟正黑體"; font-size:12px; color:rgb(102,102,102);padding:0 5px; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; -webkit-appearance:none;}

.box{ height:30px; border:rgb(163,177,178) solid 2px; font-family:"微軟正黑體"; font-size:12px; color:rgb(102,102,102); transition:all 1s; margin-right:5px; padding:0 5px; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; -webkit-appearance:none;}

.checkbox{ width:16px; min-height:16px !important; border:rgb(163,177,178) solid 2px; font-family:"微軟正黑體"; font-size:12px; color:rgb(102,102,102); transition:all 1s; margin:5px 3px; padding:0 5px; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}

/* words */
.title{ display:block; font-size:20px; font-weight:normal; height:40px; line-height:40px; color:rgb(47,141,205); padding-left:30px; background:url(../images/icon-title-main.png) left no-repeat;}
.words{ overflow:hidden; color:#666; border-top:1px dotted #ccc; padding:10px 0; font-size:13px !important; letter-spacing:1px;}
.words strong{ color:#000;}
.words input{ display:inline-block;}
.website-link{ border-bottom:#a3b1b2 dotted 1px; display:inline-block; color:rgb(60,86,109); font-size:15px; margin:0 5px; line-height:22px;}
.blue{ color:rgba(47,141,205,1);}

/* link */
.info-link{ border-bottom:#a3b1b2 solid 1px; display:inline-block; color:rgb(60,86,109); text-decoration:none;}
.info-link:hover{ border-bottom:#2f8dcd solid 1px; color:#2f8dcd;}

/* site Message */
.site-message{ display:block; font-size:20px; font-weight:normal; height:40px; line-height:40px; color:rgb(47,141,205); padding-left:30px; background:url(../images/icon-title-file.png) no-repeat !important;}
.site-message strong { font-weight:normal;}
.site-message strong.mark{ color:rgba(274,121,123,1);}

/* new Message */
.new-message{ display:block; font-size:20px; font-weight:normal; height:40px; line-height:40px; color:rgb(47,141,205); padding-left:30px; background:url(../images/icon-title-new-msg.png) no-repeat !important;}
.new-msg input{ width:97%; min-height:30px; border:rgb(163,177,178) solid 2px; border-radius:3px; font-family:"微軟正黑體"; font-size:12px; color:rgb(102,102,102); transition:all 1s; margin:5px 3px; padding:0 5px;}
.new-msg textarea{ width:97%; min-height:150px; border:rgb(163,177,178) solid 2px; border-radius:3px; font-family:"微軟正黑體"; font-size:12px; color:rgb(102,102,102); transition:all 1s; margin:5px 3px; padding:5px;}
.new-msg .button{ width:auto !important; padding:0 10px; background:#a3b1b2; color:#fff; cursor:pointer;}
.new-msg .button:hover{ background:#2f8dcd; border:#2f8dcd solid 2px;}

/* Join */
.admin{ display:block; font-size:20px; font-weight:normal; height:40px; line-height:40px; color:rgb(47,141,205); padding-left:30px; background:url(../images/icon-title-admin.png) no-repeat !important;}
.msg{ margin-bottom:10px;}
.msg dl{ font-size:15px; letter-spacing:1px; border-bottom:1px solid #999; }
.msg dl:nth-child(odd){ background:rgba(163,177,178,.1);}
.msg dt{ color:#000; line-height:24px; padding:8px 10px; border-bottom:1px dotted #ccc; font-size:15px;}
.msg dd{ padding:10px; color:#666; font-size:13px;}
.msg a{ color:#000; text-decoration:none; }
.msg a:hover{ color:#ccc;}

/* Set */
.set-title{ display:block; font-size:20px; font-weight:normal; height:40px; line-height:40px; color:rgb(47,141,205); padding-left:30px; background:url(../images/icon-title-info.png) no-repeat !important;}
.set{ letter-spacing:1px;}
.set nav{ width:49%; display:inline-block; vertical-align:top; margin-right:5px;}
.set p{ display:block; border-bottom:1px dotted #ccc; margin:0; line-height:40px; padding:2px 5px;}
.set p:nth-child(odd){ background:rgba(163,177,178,.1);}
.set input{ display:inline-block; height:30px; border:rgb(163,177,178) solid 2px; border-radius:3px; font-family:"微軟正黑體"; font-size:12px; color:rgb(102,102,102); transition:all 1s; margin:0 3px; padding:0 5px;}
.set input.long{ width:220px;}
.set .button{ padding:0 10px; background:#a3b1b2; color:#fff; cursor:pointer; margin:5px 0;}
.set .button:hover{ background:#2f8dcd; border:#2f8dcd solid 2px;}

@media(max-width:1024px){
.set nav{ width:100%;}
.tab_container dt, .tab_container dd{ width:100%;}
.tab_container dd p:nth-child(odd){ background:none !important;}
.tab_container dd p:nth-child(even){ background:rgba(163,177,178,.1);}
}

@media(max-width:480px){
.btn-receive-help{ display:block; position:relative; right:inherit; top:inherit; font-size:13px; height:24px; line-height:24px; text-decoration:none; padding:0 10px; margin:5px 0;}
.btn-helped{ display:block; position:relative; right:inherit; top:inherit; font-size:13px; height:24px; line-height:24px;color:#fff; text-decoration:none; padding:0 10px; margin:5px 0;}
}