body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, menu, header, section, footer, button{margin:0 0;padding:0 0;-webkit-text-size-adjust:none;word-wrap:break-word;word-break:normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
table{border-collapse:collapse;border-spacing:0;}
fieldset, img{border:0;}
address, caption, cite, code, dfn, em, strong, th, var{font-style:normal;font-weight:bold;}
ol, ul{list-style:none;}
caption, th{text-align:left;}
q:before, q:after{content:'';}
abbr, acronym{border:0;}
a{_cursor:pointer;}
input:focus, select:focus, textarea:focus{outline:0;}
a{outline:none;hlbr:expression(this.onFocus=this.blur());}